form{
    display: grid;grid-template-columns:300px 300px;grid-template-rows: 50px 50px 50px ;
    grid-gap: 20px;width: 630px;margin: 40px auto;height: auto;
    background-color:#b6c4b9eb;padding: 50px;transition: 0.7s;
}
form:hover{background-color: #303940;transition: 0.6s;}
body{background-color: #f5f5f5;}
form input{padding: 15px 5px;border-radius: 5px;border: none;}
form textarea{padding: 15px 5px;border-radius: 5px;border: none;}
.contact{height: auto;background-color:#f5f5f5;padding: 50px;}

.contact h1{padding-top: 20px;font-size: 30px;font-weight: 800;padding-bottom: 5px;
width: 250px;margin: auto;}
form span{margin-top: 12px;}
form span button{padding: 10px 15px;background-color: green;border: none;color: white;border-radius:5px;transition: 0.7s;}
form span button:hover{background-color: black;color: white;transition: 0.7s;}


/* building responsive view for the width from 0px to 950px */
    @media (max-width:950px){
       
        .container1{width: auto;}
        form{grid-template-columns: auto;grid-template-rows: auto;width: auto;}
        form input{width: 300px;}
        form textarea{width: 300px;}
        .contact{height: auto;padding: 0px;}
    }

    

 