

/******** FOOTER SKILLS *************/
footer{background-color: #06050A ;color: white;padding:63px;}
.footer_parent{display: flex;justify-content: space-between;}
/**********************************************/