* {
    padding: 0px;
    margin: 0px;
}

/***************************************************************************/
body {

    background-color:#060201;
    font-family:sans-serif;
}

.container1 {
    width:75rem;
    margin: auto;
    text-align: center;
}

/************************** Head part Css *************************************************/

.head_top .head_parent {
    display: grid;
    grid-template-columns: 37rem 37rem;                 /* The coloum in divided into two ,first coloumn 600px,second column 600px */
    grid-template-rows: 40px;  /* the row here divide into one row*/
}

.head_left img {
    height: 150px;
    width: 120px;
    margin: -20px 42px;
    transition: 1s;
    animation-name: enlargelogo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes enlargelogo {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    50% {
        transform: rotate(270deg);
        opacity: 0;
    }

    70% {
        transform: rotate(360deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }


}

.head_parent .head_left {
    text-align: left;
    width: 205px;
    padding: 4px;
}

.head_parent .head_right {
    margin-left: auto;
}

.head_top {
    background-color: white;
    color: black;
    padding: 1.9rem;
    
}

.head_parent h2 {

    padding: 5px;
    border-radius: 0px 13px;
    transition: 0.8s;
}

.head_parent h2:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: 0.8s;
}

.head_parent h4 {

    padding: 11px;
    border-radius: 0px 13px;
    transition: 0.8s;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

}

.head_parent h4:hover {
    background-color: skyblue;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.8s;
}

nav {
    background-color: #060201;
    width: 100%;

}

nav .container1 ul {
    width: 730px;
    margin: auto;
    padding: 20px 0px;
}

nav .container1 ul li {
    display: inline-block;
    margin-left: 45px;
}

nav .container1 ul li a {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
    border-radius: 0px 10px;
    transition: 0.7s;
    text-decoration: none;
}

nav .container1 ul li a:hover {
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.8s;
}
.ham_b{display: none;width: 25px;
    margin:0px auto;background-color: #06050A;height: 25px;padding: 8px;border-radius: 5px;}
 .ham_b .ham_b1{width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0px;display:block;}


.slidebar {
    width: 375px;
    height: 16vh;
    background-color: black;
    display: none;                  /* Here making invisible of slidebar and later on will be visibke in small width mainky in mobile device changing to block*/
    opacity: 1;
    transform: translateX(-40px) translateY(-300px);
    transition: 0.8s;
    z-index: 1;
    border-radius:20px 0px;
    
}

.slidebar .cross {
    width: auto;
    height: 0px;
    margin: 1em 320px;
}

.slidebar .cross button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.slidebar .cross button:hover {
    background-color: red;
    transition: 0.5s;
    border: none;
    color: white;
}

.slidebar ul {
    width: 375px;
    margin: 30px 0px;text-align: center;
}

.slidebar ul li {
    display: inline-block;
}

.slidebar .cross .crosser_left {
    width: 7px;
    height: 3px;
    background-color: white;
}

.slidebar ul li a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    padding-left: 10px;padding-right: 3px;
    border-left: 1px solid white;
}

.slidebar ul li:nth-child(1) a {
    border: none;
}

.slidebar ul li a:hover {
    color: skyblue;
}

.cross span {
    color: white;
}


/* building responsive view for the width from 0px to 950px */
@media(max-width:950px) {
    .head_top {
        height: 50px;
    }

    .head_top .container1 .head_parent {
        grid-template-columns: 245px 80px
    }

    .head_parent .head_right {
        display: none;
    }

    .head_left h1 {
        font-size: 20px;
    }

    .head_right h4 {
        font-size: 20px;
        width: 150px;
    }

    nav {
        display: none;
    }
    .ham_b{display: block;}

    .slidebar {
        display:block;
    }

    .slidebar ul li a {
        font-size: 12px;
    }
/* AFter the textbox get checked the slidebar component position is translate(-30px) means go to 30px left side translateY(-70px) to
70px up from the default position */
    #checkers:checked~.slidebar {
        display:block;
        transform: translateX(-30px) translateY(-70px);
        transition: 0.2s;
        padding: 5px 0px;
        width: 375px;

    }
    #checkers:checked~ .head_top{background-color: #06050A;}
    

   
}
/* building responsive view for the width from 550px to 1300px */
@media screen and (min-width:550px) and (max-width:1300px) {
    .head_top .container1 .head_parent {
        grid-template-columns:auto;
    }
    .head_top .container1 .head_parent {
        grid-template-columns: 490px 80px;
      }
      /* if element of id checkers is checked than related to it class .slidebar properties will convert to it as given below*/
    #checkers:checked~.slidebar {
        transform: translateX(-30px) translateY(-70px);
        transition: 0.4s;
        padding: 5px 0px;
        width: 667px;
        padding: 27px 0px;
    }

    .slidebar .cross {
        width: auto;
        height: 0px;
        margin: 0px 500px;
    }

    .slidebar ul li a {
        padding-left: 20px;
    }

    .slidebar ul {
        width: 480px;
        margin: 30px auto;
    }
}

/* building responsive view for the width from 700px ++ related to hamburger after clicked*/
@media(min-width:700px){
    #checkers:checked ~ .slidebar{width: 810px;}
    .slidebar .cross{margin: 0px 570px;}
}

/* building responsive view for the width from 400px to 549px related to hambirger after clicked ++ */
@media screen and (min-width:400px) and (max-width:549px){
    #checkers:checked ~ .slidebar{
        width: 414px;height: 13.5vh;
       
    }
}
/* responsive start from width 926px minimum */
@media screen and (min-width:926px) {
    #checkers:checked ~ .slidebar{
        width:926px;
       
    }
}
@media screen and (min-width:380px) and (max-width:399px){
    #checkers:checked ~ .slidebar{width: 390px;
    height: 11.8vh;}
}