
 .container1 {
     width: 1200px;
     margin: auto;
 }
/************************** Head part Css *************************************************/
 

 
 
 /**********PORTFOLIO DETAIL CSS*************/
 .portfolio_details{width:auto;height: auto;background-color:#06050A;padding:50px; color: white;}
 .portfolio_parent{display:grid;grid-template-columns: 650px 550px;grid-template-rows: 700px;}

 .aboutme h1{padding: 10px 0px;font-weight: 800;;width: 525px;text-align: center;}
 .aboutme h1::before{ content: '';
    width: 0px;
    height: 0px;
    display: inline-block;
    /* border-bottom: 1px solid black; */
    border-left: 2px solid black;
    padding-left: 15px;transition:0.5s;}
.aboutme h1:hover::before{height: 29px;transition: 0.5s;}
.aboutme p{line-height: 40px;}
.myimage {text-align: right;}
 .myimage img{width: 400px;height: 300px;padding:30px 10px;border-radius: 20px;}
 .here{font-size: 25px;font-weight:550;}
 .pdefine{padding: 20px 0px;}

/**********************/



/*********** SKILLS CSS *************/
.skills_head h2{text-align: center;}
.skills{width: 360px;background-color:rgba(0, 0, 0, 0.8) ;margin: 20px 205px;display: flex;padding: 30px;border-radius: 30px;color: #f5f5f5;
transition: 0.9s;}
.skills:hover{transition: 0.9s;transform: scale(1.1);background-color: white;color: rgba(0, 0, 0, 0.8);box-shadow:4px 6px rgba(0, 0, 0,1);}
.skillsname{margin-left: 90px;padding-left: 10px;}
.skillsrange{margin-left: 50px}
/**********************************************/

