

.container1 {
    width: 1200px;
    margin: auto;
}


.report_main{width: 100%;height:auto;background-image: url('../images/reportjp.jpg');background-repeat: no-repeat;
    background-attachment:fixed;background-color: #000000;background-position: -30px 0px;}     
    /* The images is taken from unsplash url:https://unsplash.com/photos/oga9Xg0KVnU */

.report_main h1{padding: 25px 0px;color: white;}
.report_main .box1{text-align: center;padding: 20px 0px;}
.report_parent{display: grid;grid-template-columns: 900px;grid-template-rows:auto;margin: auto;width: 900px;}
.report_body{border-radius: 30px;color: #06050A;padding: 40px 20px;margin: 20px 0px;
background-repeat: no-repeat;color: white
;}
.report_body p{line-height:40px;text-align: start;}

.wireframe{display: flex;width: 1000px;margin-left: 150px;}
.wireframe div{margin: 9px;}
.wireframe div img{width: 200px;height: 240px;border-radius: 20px;transition: 0.7s;}
.wireframe div img:hover{transform: scale(1.1);transition:0.7s;}


    @media (max-width:950px){
    
        .container1{width: auto;}
        .report_parent{grid-template-columns: auto;grid-template-rows: auto;width: auto;}
        .report_body{margin: 0px;}
        .report_body p{font-size: 15px;line-height: 25px;}
        .report_main{height: auto;background-position:-325px -100px ;}
        .wireframe{flex-direction: column;width: auto;margin-left: 0px ;}
    }