
*{padding: 0px;margin: 0px;}
.portfolio {
    background-color: #000000;
}


.container3_row {
    display: grid;
    grid-template-columns: 600px 500px;
    grid-template-rows: auto;
    width: 1200px;
    margin: auto;
    background-color: #000000;
    background-image: url('../images/index.jpg');
    /* images from https://unsplash.com/ */
    background-repeat: no-repeat;
    background-position: 750px 180px;
    background-attachment: fixed;
}

.right_column {
    width: 600px;
    height: 600px;
}

.right_column .right_box1 {
    margin: 180px 0px;
    text-align: center;
    color: white;
}

.right_column .right_box1 p {
    padding: 20px 0px;
    line-height: 30px;
}

.index_title::before {
    content: '';
    transition: 4s;
    animation-iteration-count: infinite;
    animation-name: titlemain;
    animation-duration: 7s;
}

@keyframes titlemain {
    0% {
        content: 'Hi My Name Is Nishes Gurung';
    }

    10% {
        content: 'Hi My Name Is Nishes Gurung';
    }

    15% {
        opacity: 0.2;
    }

    20% {
        content: 'I am a Tech Student';
        opacity: 1;

    }

    35% {
        content: 'I am a Tech Student';
    }

    40% {
        opacity: 0.2;
    }

    50% {
        content: ' Passionate in Frontend Development';
        opacity: 1;
    }

    65% {
        content: ' Passionate in Frontend Development';
    }

    70% {
        opacity: 0.3;
    }

    80% {
        content: 'UI/UX Design';
        opacity: 1;
    }

    90% {
        content: 'UI/UX Design';
    }

    95% {
        opacity: 0.2;
    }





    100% {
        content: 'Hi My Name Is Nishes Gurung';
        opacity: 1;
    }
}

.left_column .left_box1 {
    width: 520px;
    margin: 90px auto;
}

.left_column .left_box1 img {
    width: 370px;
    height: 360px;
    border-radius: 20px;
    transition: 1s;
    transform: scale(0.9);
}

.left_column .left_box1 img:hover {
    border-radius: 300px;
    transition: 1s;
    transform: scale(1.1);
}

.right_box1 div {
    padding: 5px 0px;
}

.right_box1 div a {
    background-color: forestgreen;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.5s;
}

.right_box1 div a:hover {
    background-color: white;
    color: forestgreen;
    transition: 0.5s;
}

.ham_b {
    display: none;
    width: 25px;
    margin: 0px auto;
    background-color: #000000;
    height: 25px;
    padding: 8px;
    border-radius: 5px;
}

.ham_b .ham_b1 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0px;
}

/* RESPONSIVE CODE For index.html here */
@media (max-width:950px) {
    .portfolio {
        padding: 10px 0px;
    }

    .container1 {
        width: auto;
    }

    .container3_row {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        width: auto;
        background-position: 0px 320px;
    }

    .right_column {
        padding: 10px;
    }

    .left_column .left_box1 {
        margin: 10px 0px;
        text-align: center;
        width: auto;
    }

    .left_column .left_box1 img {
        width: 300px;
        height: 270px;
    }

    .left_column .left_box1 img:hover {
        transform: scale(1);
    }

    .right_column {
        width: auto;
        height: auto;
    }

    .right_column .right_box1 {
        margin: auto;
        padding: 10px;
    }

    .ham_b {
        display: block;
    }
}